services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./api
    env_file:
      - ./.env
    environment:
      EPG_AUTO_SYNC: "1"
      EPG_AUTO_SYNC_MINUTES: "60"
      EPG_AUTO_SYNC_HOURS: "36"
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app



volumes:
  pgdata:
